@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');
body {
    margin: 0 0 0 0;
}
h1, h2 {
    font-family: "Poppins", "sans serif";
    color: hsl(208, 49%, 20%);
}

a, p, li, h3 {
    font-family: "Open Sans", "sans serif";
    color: hsl(208, 49%, 20%);
}

header {
    width: 100%;
    background-image: url(./images/bg-hero-mobile.svg);
    background-size: cover;
    background-color: rgb(202, 226, 230, .3);
    background-position-x: -415px;
    background-position-y: -23px;
    padding-bottom: 30px;
}
.top_header {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.top_header .logo {
    margin-left: 15px;
}

.top_header img {
    width: 45%;
}

.try_button {
    margin-right: 15px;
    padding-top: 4px;
    width: 130px;
    height: 23px;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.089);
    border-radius: 30px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
}

.description {
    margin-top: 80px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}

.description h1 {
    font-size: 23px;
}

.description p {
    font-size: 16px;
}

.description br {
    display: none;
}

.get_started {
    display: flex;
    width: fit-content;
    max-height: 40px;
    padding: 12px 60px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    border-radius: 30px;
    background-color: rgba(255, 62, 239, 0.945);
    color: white;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
}

.mockups {
    display: flex;
    width: 320px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

main {
    margin-top: 50px;
}
.pros1, .pros2, .pros3 {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
    width: fit-content;
    background-color: white;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.089);
    border-radius: 15px;
}

.pros2, .pros3 {
    margin-top: 35px;
}

.pros3 {
    margin-bottom: 220px;
}
.pros1 img, .pros2 img, .pros3 img {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.pros_descriptions {
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 25px;
}

h2 {
    font-size: 18px;
}

.pros_descriptions p {
    font-size: 15px;
    color: hsl(208, 11%, 55%);
}

.sub {
    display: flex;
    flex-direction: column;
}

.subscription {
    position: relative;
    max-width: 700px;
    margin-top: -120px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 25px;
    background-color: white;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.089);
    border-radius: 15px;
    z-index: 2;
}

.background_band {
    display: flex;
    position: absolute;
    width: 100%;
    height: 62px;
    background-color: hsl(192, 100%, 9%);
    z-index: 1;
}

footer li, footer h3 {
    color: white;
}

footer img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(265deg) brightness(103%) contrast(101%);
}
footer .contact img {
    margin-left: 15px;
}

.contact li {
    font-size: 13px;
}

.contact img {
    width: 150px;
}

#address {
    list-style-image: url(./images/icon-location.svg);
    padding-left: 20px;
    margin-left: -5px;
    margin-bottom: 20px;
}

#phone {
    list-style-image: url(./images/icon-phone.svg);
    padding-left: 20px;
    margin-left: -5px;
    margin-bottom: 20px;
}

#email {
    list-style-image: url(./images/icon-email.svg);
    padding-left: 20px;
    margin-left: -5px;
}

footer {
    background-color: hsl(192, 100%, 9%);
    padding: 100px 10px 35px 10px;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

footer nav {
    margin-top: 50px;
    margin-bottom: 50px;
}

footer nav ul {
    list-style-type: none;
    margin-left: -30px;
}

footer nav ul li {
    margin-bottom: 15px;
}

footer nav ul li a {
    text-decoration: none;
    color: white;
}

.social {
    width: 100%;
    text-align: center;
}

.social_icons_f, .social_icons_t, .social_icons_i {
    border: solid white 1px;
    border-radius: 50%;
    padding: 5px 8px;
}

.social_icons_t {
    margin-left: 8px;
    margin-right: 8px;
}

.social img  {
    width: 15px;
}

h3 {
    font-size: 10px;
    text-align: center;
    margin-top: 30px;
}